/* MENSAJE DE ERROR INACTIVO*/
.popup__error {
  font-size: 12px;
  font-style: normal;
  color: #ff0000;
  position: absolute;
  top: calc(100% + 6px);
  line-height: 1;
  left: 0;
  text-align: left;
  transition: 0.3s;
}
